<form data-bind="formValidator: validator">
    <div class="form-group">
        <label class="control-label">سرانه اضافه کار تشویقی</label>
        <input type="number" class="form-control" name="MaxOverTime" data-bind="textInput : MaxOverTime">
    </div>
    <div class="form-group">
        <label class="control-label">سرانه تعطیل کاری تشویقی</label>
        <input type="number" class="form-control" name="MaxHolidayWork" data-bind="textInput : MaxHolidayWork">
    </div>
    <div class="form-group">
        <label class="control-label">سرانه شب کاری تشویقی</label>
        <input type="number" class="form-control" name="MaxNightWork" data-bind="textInput : MaxNightWork">
    </div>
</form>