body
{
    background-position: center center;
    background-image: url('../Images/Ghadir/Login_body.jpg');
    background-color: White;
    font-family: Tahoma;
    font-size: 11px;
}

.login_table
{
    color: White;
    width: 545px;
    height: 314px;
    margin-top: 25%;
    background-image: url('../Images/Ghadir/Loginbox.png');
    background-repeat:no-repeat;
}   

.text_box
{
    width: 185px;
    height: 25px;
    background-position: center center;
    background-color: transparent;
    color: white;
    padding-top: 5px;
    vertical-align: middle;
    border: none;
    background-image: url('../Images/Ghadir/Login_Text_Box.png');
    background-repeat: no-repeat;
    padding-right: 9px;
    padding-left: 20px;
}     