body 
{
     margin: 0;
  padding: 0;
}

.ListBox
{
    Font-family: Tahoma;
    font-size:11px;
    text-align:right;
    direction:rtl;
    width:200px;
    cursor:pointer;        
    }
.RuleListBox
{
    Font-family: Tahoma;
    font-size:11px;
    text-align:right;
    direction:rtl;
    width:300px;
    cursor:pointer;
    }    
.ListItemMargin
{
    margin-top:4px;    
    }    
.returnButton
{
    Font-family: Tahoma;
    font-size:11px;
    cursor:pointer;
    }    
.ListBoxHover
{
    background-color:#23a5fc;
    color:White;
    }
    
.breadCrumb
{
    Font-family: Tahoma;
    font-size:11px;
    cursor:pointer;
    direction:rtl;
    }        
