<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="BasicHttpBinding_IGhadirSSOService" />
                    <binding name="BasicHttpBinding_ITotalWebService" />
                    <binding name="BasicHttpBinding_IFunction" />
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://localhost/GhadirSSO/GhadirSSOService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGhadirSSOService" contract="GhadirSSOService.IGhadirSSOService" name="BasicHttpBinding_IGhadirSSOService" />
              <endpoint address="http://pahlevani-pc.ghadir.local/AtlasTAWebService/TotalWebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITotalWebService" contract="GTSEngineWS.ITotalWebService" name="BasicHttpBinding_ITotalWebService" />
              <endpoint address="http://additionalservices.tehran.iri:6502/Function.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFunction" contract="TMIFunctionServiceRefrence.IFunction" name="BasicHttpBinding_IFunction" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
