
.comboBox
{
    background-color: white;
    color: black;
    font-family: Tahoma;
    border-style: solid solid solid none;
    border-color: #7f9db9;
    border-width: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
}

.comboBoxHover
{
    background-color: white;
    color: black;
    font-family: Tahoma;
    border-style: solid solid solid none;
    border-color: #7f9db9;
    border-width: 1px;
}

.comboDropDown
{
    border-style: solid solid solid none;
    border-color: #7f9db9;
    border-width: 1px;
    background-color: white;
    padding: 1px;
    padding-right: 0px;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 11px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

.comboTextBox
{
    font-size: 12px;
    border: 0px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: Tahoma;
    background-color: transparent;
    color: black;
}

.comboTextBoxHover
{
    background-color: #B2B4BF;
}

.comboItem
{
    font-family: Tahoma;
    font-size: 11px;
    padding: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-wrap:break-word !important;
    white-space:normal !important;
}

.comboItemHover
{
    background-color: #B2B4BF;
    background-image: url('../Images/ComboBox/comboItemBg.gif');
    font-family: Tahoma;
    font-size: 11px;
    border: 1px solid #DBCE99;
    padding: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.headingRow
{
    background-color: #E2E2E2;
}

.headingCell
{
    background-color: #E2E2E2;
    border: 1px solid #FFFFFF;
    border-right-color: #B5B5B5;
    border-bottom-color: #B5B5B5;
    padding: 3px;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
}

.dataRow
{
    background-color: #FFFFFF;
}

.dataCell
{
    cursor: pointer;
    padding: 3px;
    border: 1px solid #ffffff;
    border-right-color: #EAE9E1;
    border-bottom-color: #EAE9E1;
    font-family: Tahoma;
    font-size: 11px;
}
