body {
}

/*Begin DNN-Style*/
img, object, embed {max-width: none;}
/*End DNN-Style*/

.topToolbar
{
 
  font-family: tahoma, verdana;
  font-size: 11px;
  font-weight: normal ; 
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top:0px;
  background-image:url('../Images/Ghadir/bg-body.jpg');
  color:White;
    }
    
.LableStyle
{
  font-family: tahoma, verdana;
  font-size: 11px;
  font-weight: normal ; 
    }    
