<div class="logo-area">
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
        <a data-toggle="tooltips" data-placement="left" title="Toggle Sidebar">
            <span class="icon-bg">
                <i class="ti ti-menu"></i>
            </span>
        </a>
    </span>
    <a class="navbar-brand" href="#home">سامانه جامع حضور و غیاب شهرداری تهران</a>
</div>
<!-- logo-area -->

<ul class="nav navbar-nav toolbar pull-left">

    <li class="">
        <input type="text" class="form-control" readonly="readonly" name="username" data-bind="textInput : username">
    </li>

    <!--<li class="toolbar-icon-bg hidden-xs">
        <a href="#"><span class="icon-bg"><i class="ti ti-search"></i></span></a>
    </li>-->
    <!--<li class="toolbar-icon-bg hidden-xs">
        <a href="#"><span class="icon-bg switch-header-footer"><i class="ti ti-layout-accordion-separated"></i></span></a>
    </li>-->

    <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
        <a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></a>
    </li>

    <li class="toolbar-icon-bg hidden-xs" id="trigger-close">
        <a href="#" class="toggle-close"><span class="icon-bg"><i class="ti ti-close"></i></span></a>
    </li>

</ul>

