<form data-bind="formValidator: validator">
    <div class="form-group">
        <label class="control-label">نوع</label>
        <input type="text" class="form-control" readonly="readonly" name="ApprovalType" data-bind="textInput : ApprovalType">
    </div>
    <hr />
    <div class="form-group">
        <label class="control-label">از تاریخ</label>
        <input type="text" class="form-control" name="DateFrom" data-bind="datepicker :DateFrom">
    </div>
    <div class="form-group">
        <label class="control-label">تا تاریخ</label>
        <input type="text" class="form-control" name="DateTo" data-bind="datepicker :DateTo">
    </div>
    <div class="form-group">
        <label class="control-label">کد دوره</label>
        <select class="form-control select2" name="DateRangeOrders" data-bind="select: DateRangeOrders"></select>
    </div>
</form>