body {
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	background: #ffffff url(../images/DockMenu/main-bg.gif);
	padding: 0;
	margin: 0;
}
img {
	border: none;
}

/* top */
.topDockMenu {
	position: relative; 
	height: 50px; 
	text-align: center;
}
.topDockMenu-container {
	position: absolute;
	height: 50px;
	background: url(../images/DockMenu/dock-bg2.gif);
	padding-left: 20px;
}
a.topDockMenu-item {
	display: block;
	width: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Tahoma, Arial, Helvetica, sans-serif;
}
.topDockMenu-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.topDockMenu-item span {
	display: none; 
	padding-left: 20px;
}

/*bottom */
.bottomDockMenu {
	width: 100%;
	top: 75px;
	position: absolute;
	left: 0px;
    /* Begin DNN-Style*/
    margin-top:-100px;
    /* End DNN-Style*/
}
.bottomDockMenu-container {
	position: absolute;
	height: 50px;
	/*background: url(images/DockMenu/dock-bg.gif);*/
	padding-left: 20px;
}
a.bottomDockMenu-item {
	display: block; 
	font: bold 12px Tahoma, Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.bottomDockMenu-item span {
	display: none;
	padding-left: 20px;
}
.bottomDockMenu-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}