
.PersianDatePicker
{
    background-color: white;
    border: 1px solid #7f9db9;
    font-family: tahoma;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}



