.borderStyle
{
    border-top: gray 1px double;
    border-bottom: gray 1px double;
    border-left: gray 1px double;
    border-right: gray 1px double;
    font-size: small;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

.MainTableBorderStyle
{
    border-top: gray 1px double;
    border-bottom: gray 1px double;
    border-left: black 1px groove;
    border-right: black 1px groove;
    font-size: small;
}

.MonthTitleStyle
{
    border-top: gray 1px double;
    border-bottom: gray 1px double;
    border-left: gray 1px double;
    border-right: gray 1px double;
    background-color: #9FBEF4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

.DayTitleStyle
{
    background-color: #e1ecfc;
}


.BodyStyle
{
    background-image: url('../Images/Ghadir/bg-body.jpg');
    background-repeat: repeat;
    font-size: small;
    font-family: Tahoma;
    height: 100%;
    background-position: right;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

.BoxStyle
{
    background-position: right;
    background-repeat: repeat;
    color: Black;
    font-size: small;
    font-family: Tahoma;
    border-top-color: #FFFFFF;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-color: #666672;
    border-bottom-width: 3px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-color: #FFFFFF;
    border-left-color: #737282;
    border-right-style: solid;
    border-left-style: solid;
    background-image: url('../Images/TabStrip/boxstyle_13.png');
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

.ConfirmStyle
{
    background-position: right;
    border: 1px outset white;
    font-size: small;
    font-weight: bold;
    font-family: Tahoma;
    color: White;
    background-image: url('../Images/TabStrip/boxstyle_darker.png');
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

.SettingStyle
{
    font-family: Tahoma;
    font-size: small;
    background-color: White;
    border: 1px solid gray;
    background-image: url('../Images/Ghadir/bg-body.jpg');
}

.DetailsBoxHeaderStyle
{
    height: 23px;
}

.MainBodyStyle
{
    background-image: url('../Images/Ghadir/main_body.jpg');
    background-repeat: repeat;
    font-size: small;
    font-family: Tahoma;
    height: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    /*Begin DNN-Style*/
    margin-top: -25px;
    margin-bottom: -20px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -khtml-border-radius: 0px;
    /*END DNN-Style*/
}

.ContainerHeader
{
    background-image: url('../Images/TabStrip/item_bg.gif');
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

.BoxContainerHeader
{
    background-image: url('../Images/TabStrip/item_bg.gif');
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 12px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -khtml-border-radius: 7px;
}

.MainHeaderStyle
{
    background-image: url('../Images/TopToolBar/header_bg.gif');
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -khtml-border-radius: 7px;
}

.LoadingTableStyle
{
    border:1px solid white;
    background-color:White;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

