



    <div class="static-sidebar">
        <div class="sidebar">
            <div class="widget">
                <div class="widget-body">
                    <div class="userinfo">
                        <div class="avatar img-responsive img-circle " style="overflow: hidden;">
                            <img src="" data-bind="attr:{src:ImageSrc}" class="user-image" />
                        </div>
                        <div class="info">
                            <span class="username FullName" data-bind="text:FullName"></span><br />
                            <span class="useremail" data-bind="text:UserEmail"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget stay-on-collapse" id="widget-sidebar">

                <nav role="navigation" class="widget-body">




                    <ul class="acc-menu">
                        <li class="nav-separator"><span>منو</span></li>
                        <li><a href="#home"><i class="ti ti-home"></i><span>صفحه نخست</span></a></li>
                        <li>
                            <a href="#Payroll">
                                <img class="img" src="/DesktopModules/TMHRMSMyProfile/Images/fishhoghooghi.png" style="width: 24px;margin-left: 16px;">
                                <span>فیش حقوقی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#Recruitment">
                                <img class="img" src="/DesktopModules/TMHRMSMyProfile/Images/55.png" style="width: 24px;margin-left: 16px;">
                                <span>احکام</span>
                            </a>
                        </li>
                        <li>
                            <a href="#LetterRequest">
                                <img class="img" src="/DesktopModules/TMHRMSMyProfile/Images/govahi.png" style="width: 24px;margin-left: 16px;">
                                <span>گواهی ها</span>
                            </a>
                        </li>
                        <li>
                            <a href="#Leave">
                                <img class="img" src="/DesktopModules/TMHRMSMyProfile/Images/morkhasi.png" style="width: 24px;margin-left: 16px;">
                                <span>مرخصی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#InputOutput">
                                <img class="img" src="/DesktopModules/TMHRMSMyProfile/Images/mamooriat.png" style="width: 24px;margin-left: 16px;">
                                <span>تردد</span>
                            </a>
                        </li>
                        <li>
                            <a href="#OrganChart">
                                <img class="img" src="/DesktopModules/TMHRMSMyProfile/Images/sakhtaresazman.png" style="width: 24px;margin-left: 16px;">
                                <span>چارت سازمانی</span>
                            </a>
                        <li>
                            <a href="#Profile">
                                <img class="img" src="/DesktopModules/TMHRMSMyProfile/Images/moshahedeparvandepersonel.png" style="width: 24px;margin-left: 16px;">
                                <span>مشاهده پرونده</span>
                            </a>
                        </li>
                        <li>
                            <a href="#Assets">
                                <img class="img" src="/DesktopModules/TMHRMSMyProfile/Images/55.png" style="width: 24px;margin-left: 16px;">
                                <span>دارایی ها</span>
                            </a>
                        </li>
                        <li>
                            <a href="#Evaluation">
                                <img class="img" src="/DesktopModules/TMHRMSMyProfile/Images/55.png" style="width: 24px;margin-left: 16px;">
                                <span>ارزشیابی</span>
                            </a>
                        </li>

                    </ul>
                </nav>

            </div>

            <div class="widget" id="widget-progress" style="display: none">
                <div class="widget-heading">
                    Progress
                </div>
                <div class="widget-body">

                    <div class="mini-progressbar">
                        <div class="clearfix mb-sm">
                            <div class="pull-right">Bandwidth</div>
                            <div class="pull-left">50%</div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-lime" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="mini-progressbar">
                        <div class="clearfix mb-sm">
                            <div class="pull-right">Storage</div>
                            <div class="pull-left">25%</div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 25%"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
