<div class="animated-content">
    <!--<header data-bind="component:{name:'spa-app-common-header',params:params}" id="topnav" class="navbar navbar-bluegray navbar-static-top" role="banner"></header>-->
    <div id="wrapper">
        <div id="layout-static">
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <!--<span data-bind="component:{name:'spa-app-common-breadcrumb',params:params}"></span>-->
                        <div data-bind="component:HomeContainer" class="container-fluid"></div>
                    </div>
                    <!-- #page-content -->
                </div>
                <footer ><!-- role="contentinfo" -->
                    <div class="clearfix">
                        <button class="pull-left btn btn-link btn-xs hidden-print" id="back-to-top"><i class="ti ti-arrow-up"></i></button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
