<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="repositoryMappingsConfiguration" type="GTS.Clock.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, GTS.Clock.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="businessMappingsConfiguration" type="GTS.Clock.Infrastructure.Report.BusinessFramework.BusinessSettings, GTS.Clock.Infrastructure.Report, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ValidationConfiguration" type="GTS.Clock.Infrastructure.Validation.Configuration.UIValidationSettings, GTS.Clock.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.SqlClientDriver
      </property>
      <property name="connection.connection_string">KF3XZX54NIyFAe2Zw1O8nZWbGaB/QmGgDeJKin6N5BahwuhMs7UWMbWnRSsgdKt5r22B%DjfnUH5gTc/F3Y0c/JA==</property>
      <property name="dialect">
        NHibernate.Dialect.MsSql2005Dialect
      </property>
      <property name="show_sql">
        false
      </property>
      <property name="connection.isolation">
        ReadUncommitted
      </property>
      <property name="proxyfactory.factory_class">
        NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu
      </property>
      <property name="command_timeout">
        300
      </property>
    </session-factory>
  </hibernate-configuration>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IPersonRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPrecardRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PrecardRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IRuleRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.RuleRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IELESettingRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ELESettingRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ISecondaryConceptRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.SecondaryConceptRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IExecutablePersonCalcRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ExecutablePersonCalcRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPersonWorkGroupRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonWorkGroupRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPersonReservedFileld" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonReservedFieldRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ICalendarRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.CalendarRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IManagerRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ManagerRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IRepository`1" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.EntityRepository`1, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPersonalMonthlyRptRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PrsMonthlyRptRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IBudgetRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.BudgetRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </repositoryMappings>
  </repositoryMappingsConfiguration>
  <businessMappingsConfiguration>
    <businessMappings>
      <businessMapping businessKeyName="PersonDateRange" businessFullTypeName="GTS.Clock.Business.Reporting.BControlParameter_YearMonth, GTS.Clock.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <businessMapping businessKeyName="ToDate_Implicit_StartOfYear_EndOfYear" businessFullTypeName="GTS.Clock.Business.Reporting.BControlParameter_ToDate_Implicit_StartOfYear_EndOfYear, GTS.Clock.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </businessMappings>
  </businessMappingsConfiguration>
  <ValidationConfiguration>
    <UIValidationMappings>
      <repositoryMapping interfaceShortTypeName="IRequestUIValidation" validatorFullTypeName="GTS.Clock.Business.UIValidation.RequestValidator, GTS.Clock.Business.UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ILockCalculationUIValidation" validatorFullTypeName="GTS.Clock.Business.UIValidation.RequestValidator, GTS.Clock.Business.UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IArchiveCalculationUIValidation" validatorFullTypeName="GTS.Clock.Business.UIValidation.RequestValidator, GTS.Clock.Business.UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IUIValidationValidator" validatorFullTypeName="GTS.Clock.Business.UIValidation.UIValidationValidator, GTS.Clock.Business.UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </UIValidationMappings>
  </ValidationConfiguration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-GTS.Clock.Presentation.WebApi-20160409095257.mdf;Initial Catalog=aspnet-GTS.Clock.Presentation.WebApi-20160409095257;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="log4netConnectionStr" connectionString="c5eQuX72B%7iVC2H7sf9e3v5l82B%W8yt0jXIgX/nz6U54Fdt3df2cCMegMhAfIPBnQbjh3j2UPsd4mTg/o1altPcg9PUeLi1GW9" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="log4net.Internal.Debug" value="true" />
    <add key="DomainInfo" value="ghadir.local" />
    <add key="IsUnderConstruction" value="false" />
    <add key="SecurityCodeEnabled" value="False" />
    <add key="AtlasLicenseKey" value="IYOQC-XIFTH-JLELY-JYJGY*=*10000" />
    <add key="WebRestLoginUrl" value="" />
    <add key="GhadirSSOServiceLicence" value="" />
    <add key="OperationBatchSizeKey" value="2000" />
    <add key="GhadirSSOEncryptionKey" value="" />
    <add key="IsCalculationDependOnLockDate" value="True" />
  </appSettings>
  <system.web>
    
    <machineKey validationKey="607C06CFD920CBC671D2AC6FB3CEDC57F51BEF73" decryptionKey="B94DBA2E9006C44210D2502638A3B145ABC7D622F22E3A62" decryption="3DES" validation="SHA1" />

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxQueryStringLength="32768" maxUrlLength="65536" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="ApiBasicAuthHttpModule" type="GTS.Clock.Presentation.WebApi.Modules.ApiBasicAuthHttpModule, GTS.Clock.Presentation.WebApi" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxUrl="65536" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
