<log4net>

  <appender name="RuleLogDBAppend" type="GTS.Clock.Infrastructure.Log.GTSAdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="log4netConnectionStr"/>
    <commandText value="INSERT INTO TA_EngineLog ([Date],[Thread],[Level],[Logger],[Message],[Exception],[PersonBarcode]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception,@PersonBarcode)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@PersonBarcode" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{PersonBarcode}" />
      </layout>
    </parameter>

  </appender>

  <appender name="WinSvcAppender" type="GTS.Clock.Infrastructure.Log.GTSAdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="log4netConnectionStr"/>
    <commandText value="INSERT INTO TA_WinSvcLog ([WinSvcLog_Date],[WinSvcLog_Thread],[WinSvcLog_Level],[WinSvcLog_Logger],[WinSvcLog_Message],[WinSvcLog_Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>

  <appender name="BusinessErrorLogDBAppend" type="GTS.Clock.Infrastructure.Log.GTSAdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="log4netConnectionStr"/>
    <commandText value="INSERT INTO TA_Businesslog ([Date],[Level],[Logger],[Message],[Exception],[Username],[ClassName],[ClientIPAddress],[MethodName],[ExceptionSource]) VALUES (@log_date, @log_level, @logger, @message, @exception,@username,@classname,@clientipAddress,@methodname,@source)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="100000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@username" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{UserName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@classname" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ClassName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@clientipAddress" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ClientIPAddress}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@methodname" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{MethodName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@source" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ExceptionSource}" />
      </layout>
    </parameter>

  </appender>

  <appender name="UserActivityLogDBAppend" type="GTS.Clock.Infrastructure.Log.GTSAdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="log4netConnectionStr"/>
    <commandText value="INSERT INTO TA_UserActionLog (Date,Username,ClientIPAddress,ClassName,MethodName,PageId,Action,ObjectInfo) values (@log_date,@log_username,@log_clinetip,@log_classname,@log_methodname,@log_pageid,@log_action,@log_objectInfo)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@log_username" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{UserName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_clinetip" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ClientIPAddress}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_classname" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ClassName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_methodname" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{MethodName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_pageid" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{PageId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_action" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Action}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_objectInfo" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ObjectInfo}" />
      </layout>
    </parameter>

  </appender>

  <appender name="EngineDebugDBAppend" type="GTS.Clock.Infrastructure.Log.GTSAdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="log4netConnectionStr"/>
    <commandText value="INSERT INTO TA_EngineDebugLog ([Date],[PersonBarcode],[ShamsiDate],[CnpIden],[cnpName],[BeforeValue],[AfterValue],[RuleIden],[RuleOrder],[MiladiDate],[Message]) 
                                              VALUES (@log_date, @log_prsCode, @log_ShmasiDate, @cnpIden, @cnpName,@beforeValue,@afterValue,@ruleIden,@ruleOrder,@miladiDate,@message)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@log_prsCode" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{PersonBarcode}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_ShmasiDate" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ShamsiDate}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@cnpIden" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{CnpIden}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@cnpName" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{cnpName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@beforeValue" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{BeforeValue}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@afterValue" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{AfterValue}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ruleIden" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{RuleIden}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ruleOrder" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{RuleOrder}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@miladiDate" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{MiladiDate}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    
  </appender>


  <root>
    <level value="INFO" />

  </root>

  <logger name="RuleLogToDB">
    <level value="INFO" />
    <!--<level value="OFF" />-->
    <appender-ref ref="RuleLogDBAppend" />
  </logger>
  <logger name="WinSvcLogToDB">
    <level value="INFO" />
    <appender-ref ref="WinSvcAppender" />
  </logger>
  <logger name="BusinessServiceErrors">
    <level value="INFO" />
    <appender-ref ref="BusinessErrorLogDBAppend" />
  </logger>
  <logger name="ActivityLogToDB">
    <level value="INFO" />
    <appender-ref ref="UserActivityLogDBAppend" />
  </logger>
  <logger name="EngineDebugToDB">
    <level value="INFO" />
    <appender-ref ref="EngineDebugDBAppend" />
  </logger>

</log4net>


