<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="repositoryMappingsConfiguration" type="GTS.Clock.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, GTS.Clock.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="businessMappingsConfiguration" type="GTS.Clock.Infrastructure.Report.BusinessFramework.BusinessSettings, GTS.Clock.Infrastructure.Report, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ValidationConfiguration" type="GTS.Clock.Infrastructure.Validation.Configuration.UIValidationSettings, GTS.Clock.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
   <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.SqlClientDriver
      </property>
      <!--<property name="connection.connection_string">Server=.;database=tmictomisGTS;User Id=sa;password=Aa123456</property>-->
      <property name="connection.connection_string">KF3XZX54NIyFAe2Zw1O8nZWbGaB/QmGgDeJKin6N5BahwuhMs7UWMbWnRSsgdKt5r22B%DjfnUH5gTc/F3Y0c/JA==</property>
      <property name="dialect">
        NHibernate.Dialect.MsSql2005Dialect
      </property>
      <property name="show_sql">
        false
      </property>
      <property name="connection.isolation">
        ReadUncommitted
      </property>
      <property name="proxyfactory.factory_class">
        NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu
      </property>
      <property name="command_timeout">
        300
      </property>
    </session-factory>
  </hibernate-configuration>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IPersonRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPrecardRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PrecardRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IRuleRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.RuleRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IELESettingRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ELESettingRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ISecondaryConceptRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.SecondaryConceptRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IExecutablePersonCalcRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ExecutablePersonCalcRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPersonWorkGroupRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonWorkGroupRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPersonReservedFileld" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonReservedFieldRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ICalendarRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.CalendarRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IManagerRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ManagerRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IRepository`1" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.EntityRepository`1, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPersonalMonthlyRptRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PrsMonthlyRptRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IBudgetRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.BudgetRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </repositoryMappings>
  </repositoryMappingsConfiguration>
  <businessMappingsConfiguration>
    <businessMappings>
      <businessMapping businessKeyName="PersonDateRange" businessFullTypeName="GTS.Clock.Business.Reporting.BControlParameter_YearMonth, GTS.Clock.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <businessMapping businessKeyName="ToDate_Implicit_StartOfYear_EndOfYear" businessFullTypeName="GTS.Clock.Business.Reporting.BControlParameter_ToDate_Implicit_StartOfYear_EndOfYear, GTS.Clock.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </businessMappings>
  </businessMappingsConfiguration>
  <ValidationConfiguration>
    <UIValidationMappings>
      <repositoryMapping interfaceShortTypeName="IRequestUIValidation" validatorFullTypeName="GTS.Clock.Business.UIValidation.RequestValidator, GTS.Clock.Business.UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ILockCalculationUIValidation" validatorFullTypeName="GTS.Clock.Business.UIValidation.RequestValidator, GTS.Clock.Business.UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IArchiveCalculationUIValidation" validatorFullTypeName="GTS.Clock.Business.UIValidation.RequestValidator, GTS.Clock.Business.UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IUIValidationValidator" validatorFullTypeName="GTS.Clock.Business.UIValidation.UIValidationValidator, GTS.Clock.Business.UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </UIValidationMappings>
  </ValidationConfiguration>
  <appSettings file="">
    <clear />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="DomainInfo" value="ghadir.local" />
    <add key="IsUnderConstruction" value="false" />
    <add key="SecurityCodeEnabled" value="False" />
    <add key="AtlasLicenseKey" value="IYOQC-XIFTH-JLELY-JYJGY*=*10000" />
    <add key="WebRestLoginUrl" value="http://localhost:35055/Account/Login.aspx" />
    <add key="GhadirSSOServiceLicence" value="1234567890" />
    <add key="OperationBatchSizeKey" value="2000" />
    <add key="GhadirSSOEncryptionKey" value="GhadirCoSSO" />
    <add key="IsCalculationDependOnLockDate" value="True" />
    <add key="PasswordFormatEnabled" value="True" />
    <add key="RuleGeneratorGeneralVariableEnabled" value="True" />
    <add key="RuleGeneratorLocalVariableEnabled" value="false" />
  </appSettings>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="&quot;E:\Atlas Projects\Atlas TA Project\GTS.Clock.Presentaion.Forms\Properties\AssemblyInfo.cs&quot;">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>-->
  <system.diagnostics>
    <trace autoflush="true">
    </trace>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <connectionStrings>
    <!--<add name="log4netConnectionStr" connectionString="c5eQuX72B%7iVC2H7sf9e3v5l82B%W8yt0jXIgX/nz6U54Fdt3df2cCMegMhAfIPBnQbjh3j2UPsd4mTg/o1altPcg9PUeLi1GW9" />-->
    <!--<add name="log4netConnectionStr" connectionString="Server=.;database=LogDB;User Id=sa;password=Aa123456" />-->
  </connectionStrings>
  <location path="SecurityImageViewer.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxQueryStringLength="32768" />
    
    <!--<compilation targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />-->
    <compilation debug="true" batch="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Stimulsoft.Base, Version=2014.3.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report, Version=2014.3.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Report.Web, Version=2014.3.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
      </assemblies>
    </compilation>
    <!--<authentication mode="Forms">
      <forms timeout="40" cookieless="UseCookies" loginUrl="~/Login.aspx" defaultUrl="~/MainPage.aspx?" slidingExpiration="true" />
    </authentication>-->
    <authorization>
      <!--<deny users="?" />-->
    </authorization>
    <!--<membership defaultProvider="GTSMembershipProvider">
      <providers>
        <add name="GTSMembershipProvider" type="GTSMembershipProvider" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="3" passwordFormat="Clear" />
      </providers>
    </membership>-->
    <httpHandlers>
      <!--<add path="*.ajax" verb="POST" type="Ajax.AjaxHandlerFactory,Ajax" />
      <add path="*.ajaxj" verb="GET" type="Ajax.AjaxHandlerFactory,Ajax" />
      <add path="*.ashx" verb="*" type="iucon.web.Controls.PartialUpdatePanelHandler" validate="false" />-->
      <!--<add verb="POST,GET" path="*.ashx" type="Ajax.AjaxHandlerFactory,Ajax" />-->
      <!--<add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false" />-->
    </httpHandlers>
    <httpModules>
      <!--<add name="HttpRequestValidationProvider" type="GTS.Clock.Presentaion.Forms.App_Code.HttpRequestValidationProvider" />-->
      <!--<add name="NHibernateSessionModule" type="GTS.Clock.Infrastructure.NHibernateFramework.NHibernateSessionModule"/>-->
      <add name="AtlasModule" type="AtlasModule" />
      
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--<machineKey decryptionKey="AutoGenerate,IsolateApps" />-->
    <!--<sessionState timeout="60" />-->
  </system.web>
  <system.webServer>
    <handlers>
      <add name="scripthandlerajaxFactory" verb="POST,GET" path="*.ashx" type="Ajax.AjaxHandlerFactory,Ajax" />
      <add name="ChartAxd.axd" path="ChartAxd.axd" verb="*" preCondition="integratedMode" type="Dundas.Charting.WebControl.ChartHttpHandler" resourceType="Unspecified" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="HttpRequestValidationProvider" preCondition="managedHandler" type="GTS.Clock.Presentaion.Forms.App_Code.HttpRequestValidationProvider"></add>-->
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="MainPage.aspx" />
        <add value="Login.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination="http://localhost/UnderConstructionGTS" exactDestination="true" />
    <caching>
      <profiles>
        <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" />
        <add extension=".ajaxj" policy="DontCache" kernelCachePolicy="DontCache" />
        <add extension=".axd" policy="DontCache" kernelCachePolicy="DontCache" />
      </profiles>
    </caching>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxUrl="65536" />
      </requestFiltering>
    </security>
   <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />-->
    <services>
      <service name="TAInformation" behaviorConfiguration="TAInformationBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="ITAInformation" bindingConfiguration="BasicHttpBinding_ITAInformation" />
      </service>
	  <service name="Profile" behaviorConfiguration="ProfileBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="IProfile" />
      </service>
    </services>
	<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITotalWebService" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpsBinding_ITotalWebService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="4194304" maxReceivedMessageSize="4194304" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IGhadirSSOService" />
        <binding name="BasicHttpBinding_ITrafficWebService" />
        <binding name="BasicHttpBinding_IAtlasUIWebService" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPersonnelFicheItemsHR" />
        <binding name="BasicHttpBinding_IFunction" />
        <binding name="BasicHttpBinding_ITAInformation" />
		<binding name="BasicHttpBinding_IProfile" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BinaryHttpBinding">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IOnlineTrafficsService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TAInformationBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
		<behavior name="ProfileBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	<client>
      <endpoint address="http://10.255.142.55:30030/totalWebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITotalWebService" contract="GTSEngineWS.ITotalWebService" name="BasicHttpBinding_ITotalWebService" />
      <endpoint address="http://10.255.142.55:10100/GhadirSSOService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGhadirSSOService" contract="GhadirSSOService.IGhadirSSOService" name="BasicHttpBinding_IGhadirSSOService" />
      <endpoint address="net.tcp://localhost/Atlas/OnlineTrafficsService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOnlineTrafficsService" contract="OnlineTrafficsServiceReference.IOnlineTrafficsService" name="NetTcpBinding_IOnlineTrafficsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Atlas/TrafficWebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrafficWebService" contract="GTSTrafficWS.ITrafficWebService" name="BasicHttpBinding_ITrafficWebService" />
      <endpoint address="http://additionalservices.tehran.iri:6502/Function.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFunction" contract="TMIFunctionServiceRefrence.IFunction" name="BasicHttpBinding_IFunction" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>