

.dhtmlgoodies_contentBox {
    border: 1px solid #317082;
    height: 0px;
    visibility: hidden;
    position: absolute;
    background-color: #E2EBED;
    overflow: hidden;
    padding: 2px;
    background-image: url('../Images/Ghadir/bg-body.jpg');
    background-repeat: repeat;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    z-index:1000;
}

.dhtmlgoodies_content {
    background-position: right;
    position: relative;
    width: 100%;
    background-image: url('../Images/TabStrip/boxstyle_13.png');
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

.DropDownHeader {
    font-family: Tahoma;
    color: Black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}
