body {
}
.roundedcornr_box_590516 {
   background: #a7b4e0;
}
.roundedcornr_top_590516 div
{
    background: url('../images/Help/HelpDesign/roundedcornr_590516_tl.png') no-repeat left top;
}
.roundedcornr_top_590516 {
   background: url('../images/Help/HelpDesign/roundedcornr_590516_tr.png') no-repeat top right;
}
.roundedcornr_bottom_590516 div {
   background: url('../images/Help/HelpDesign/roundedcornr_590516_bl.png') no-repeat bottom left;
}
.roundedcornr_bottom_590516 {
   background: url('../images/Help/HelpDesign/roundedcornr_590516_br.png') no-repeat bottom right;
}

.roundedcornr_top_590516 div, .roundedcornr_top_590516, 
.roundedcornr_bottom_590516 div, .roundedcornr_bottom_590516 {
   width: 100%;
   height: 20px;
   font-size: 1px;
}
.roundedcornr_content_590516 { margin: 0 20px; }

.lblShow
{
    text-align: justify;
    vertical-align: top;
    direction:rtl;
}
div
{
    font-family: tahoma;
    font-size: 9pt;
}
.tblAdmin
{
    font-family: tahoma;
    font-size: 9pt;
    width: 90%;
    direction:rtl;
}
.tdAdmin
{
    vertical-align: top;
    text-align: right;
    direction:rtl;
}
