/***************************************
   =default styles
************************************** */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 62.5% Tahoma, Verdana, Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
}
#container {
  font-size: 1.2em;
  margin: 10px 2em;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.3em;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.1em;
  margin-bottom: 0;
}

code {
  font-size: 1.2em;
}

a {
  color: #06581f;
}
/***************************************
=Aslett Clearing Method for floats 
************************************** */
.dropDownChild
{
    display: none;
    }
.dropDownPanel
{   
    background-color:#ffffff;
    }   
.dropDownPanelHover
{       
    background-color:#6ebaf4;
    }        
.dropBtn
{
    cursor:pointer;
    }    
.partHead
{
    background-color:#23a5fc;
    font-size:12px;
    font-weight:bold;
   
    }  
.sessionTitle
{
    font-family:Times New Roman;
    font-size:18px;
    height:50px;
    background-image:url( "../img/titleBackground.png" );  background-repeat:no-repeat;background-position:right;
    font-weight:bold;
    direction:rtl;
    padding-right:10px;
    }    
.ruleDescription
{
    font-family:Tahoma;
     font-size:12px;
    direction:rtl;
    padding-right:10px;    
    margin-top:0px;
    margin-bottom:0px;
    }
.ruleTitle
{
     font-family:Tahoma;
     font-size:12px;
    direction:rtl;
    padding-right:10px;    
    margin-top:0px;
    margin-bottom:0px;
    }          
.ruleScript
{
    Font-family: Tahoma;
    font-size:13px;
    direction:rtl;
    padding-right:10px;    
    margin-top:0px;
    margin-bottom:0px;       
    }    
.ruleParadox
{
    font-family:Tahoma;
     font-size:12px;
    direction:rtl;
    padding-right:10px;    
    margin-top:0px;
    margin-bottom:0px;
    }    
.ruleCode
{
    Font-family: Tahoma;
    font-size:13px;
    direction:ltr;
    padding-right:10px;    
    margin-top:5px;
    margin-bottom:0px;   
    width:95%; 
    height:200px;   
    }    

.buttons
{
    font-family:tahoma;
    font-size:11px;
    }    